<h1>Listing product_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Parent</th>
    <th>Priority</th>
    <th>Category1</th>
    <th>Category2</th>
    <th>Category3</th>
    <th>Category4</th>
    <th>Category5</th>
    <th>Category6</th>
    <th>Category7</th>
    <th>Category8</th>
    <th>Category9</th>
    <th>Category10</th>
    <th>Path ids</th>
    <th>Path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product_types.each do |product_type| %>
  <tr>
    <td><%= product_type.name %></td>
    <td><%= product_type.description %></td>
    <td><%= product_type.parent_id %></td>
    <td><%= product_type.priority %></td>
    <td><%= product_type.category1 %></td>
    <td><%= product_type.category2 %></td>
    <td><%= product_type.category3 %></td>
    <td><%= product_type.category4 %></td>
    <td><%= product_type.category5 %></td>
    <td><%= product_type.category6 %></td>
    <td><%= product_type.category7 %></td>
    <td><%= product_type.category8 %></td>
    <td><%= product_type.category9 %></td>
    <td><%= product_type.category10 %></td>
    <td><%= product_type.path_ids %></td>
    <td><%= product_type.path %></td>
    <td><%= link_to 'Show', product_type %></td>
    <td><%= link_to 'Edit', edit_product_type_path(product_type) %></td>
    <td><%= link_to 'Destroy', product_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product type', new_product_type_path %>
