<p id="notice"><%= notice %></p>

<p>
  <b>Purchase:</b>
  <%= @purchase_detail.purchase_id %>
</p>

<p>
  <b>Description:</b>
  <%= @purchase_detail.description %>
</p>

<p>
  <b>Qty:</b>
  <%= @purchase_detail.qty %>
</p>

<p>
  <b>Price:</b>
  <%= @purchase_detail.price %>
</p>

<p>
  <b>Total:</b>
  <%= @purchase_detail.total %>
</p>

<p>
  <b>Tax:</b>
  <%= @purchase_detail.tax %>
</p>

<p>
  <b>Product:</b>
  <%= @purchase_detail.product_id %>
</p>

<p>
  <b>Barcode:</b>
  <%= @purchase_detail.barcode %>
</p>

<p>
  <b>Discrate:</b>
  <%= @purchase_detail.discrate %>
</p>

<p>
  <b>Discamt:</b>
  <%= @purchase_detail.discamt %>
</p>

<p>
  <b>Is cancelled:</b>
  <%= @purchase_detail.is_cancelled %>
</p>


<%= link_to 'Edit', edit_purchase_detail_path(@purchase_detail) %> |
<%= link_to 'Back', purchase_details_path %>
