<p id="notice"><%= notice %></p>

<p>
  <b>Purchase:</b>
  <%= @purchase_detail.purchase_id %>
</p>

<p>
  <b>Description:</b>
  <%= @purchase_detail.description %>
</p>

<p>
  <b>Qty:</b>
  <%= @purchase_detail.qty %>
</p>

<p>
  <b>Price:</b>
  <%= @purchase_detail.price %>
</p>

<p>
  <b>Total:</b>
  <%= @purchase_detail.total %>
</p>

<p>
  <b>Rails:</b>
  <%= @purchase_detail.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @purchase_detail.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @purchase_detail.scaffold %>
</p>

<p>
  <b>Purchasedetails:</b>
  <%= @purchase_detail.PurchaseDetails %>
</p>

<p>
  <b>Purccode:</b>
  <%= @purchase_detail.purccode %>
</p>

<p>
  <b>Rails:</b>
  <%= @purchase_detail.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @purchase_detail.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @purchase_detail.scaffold %>
</p>

<p>
  <b>Piscamt:</b>
  <%= @purchase_detail.Piscamt %>
</p>

<p>
  <b>Is cancelled:</b>
  <%= @purchase_detail.is_cancelled %>
</p>


<%= link_to 'Edit', edit_purchase_detail_path(@purchase_detail) %> |
<%= link_to 'Back', purchase_details_path %>
