<%= form_for(@account_category) do |f| %>
  <% if @account_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_category.errors.count, "error") %> prohibited this account_category from being saved:</h2>

      <ul>
      <% @account_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :account_type_id %><br />
    <%= f.number_field :account_type_id %>
  </div>
  <div class="field">
    <%= f.label :parent_code %><br />
    <%= f.text_field :parent_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
