<p id="notice"><%= notice %></p>

<table>
  <tr valign=top>
    <td>
      <table>
        <tr>
          <td>Date</td>
          <td><%= @invoice.date %></td>
        </tr>
        <tr>
          <td>Inv no.</td>
          <td><%= @invoice.template.to_s + " " + @invoice.invno %></td>
        </tr>
        <tr>
          <td>PO No.</td>
          <td><%= @invoice.ponumber %></td>
        </tr>
        <tr>
          <td>Customer</td>
          <td>
          <%if @invoice.customer%>
          	<%= link_to @invoice.customer.name ,edit_customer_path(@invoice.customer) ,target:"customer_edit"%>
          	<%= @invoice.customer ? " ("+@invoice.customer.tin_no.to_s+")" : "" %>
          <%end%>
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td>
          	<%= @invoice.cash.to_s + "+" + @invoice.chequeamt.to_s + "+" + @invoice.credit.to_s + "=" + @invoice.total.to_s %>
          </td>
        </tr>
        <tr>
          <td><%= link_to("Edit",edit_invoice_path(@invoice)) %></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>Sale Type</td>
          <td><%= @invoice.saletype %></td>
        </tr>
        <tr>
          <td>Due date</td>
          <td><%= @invoice.duedate %></td>
        </tr>
        <tr>
          <td>Sales Representative</td>
          <td><%= @invoice.salesman.name if @invoice.salesman %></td>
        </tr>
        <tr>
          <td>Discount Rate</td>
          <td><%= @invoice.discrate %></td>
        </tr>
        <tr>
          <td>Discount Amount</td>
          <td><%= @invoice.discamt %></td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td>Cash</td>
          <td><%= @invoice.cash %></td>
        </tr>
        <tr>
          <td>Cheque</td>
          <td><%= @invoice.chequeamt %></td>
        </tr>
        <tr>
          <td>Account</td>
          <td><%= @invoice.credit %></td>
        </tr>
        <tr>
          <td>Terms</td>
          <td><%= @invoice.terms %></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td><%= @invoice.notes %></td>
        </tr>
      </table>
    </td>
    <td>
			<table>
				<tr>
					<td>Status</td>
					<td><% 

if(@invoice.status=="Paid")
	today=Date.today;
	checkcleardate=MyDateTime::frommysql(@invoice.checkcleardate);
	status="Paid";
	if(checkcleardate > today )
		status="Check to clear on "+checkcleardate.toshortdate;
		echo status;
	end


else
	puts @invoice.status;
end
%></td>
				</tr>

				<tr>
					<td>Cheque Data</td>
        <% 
        if @invoice.chequedata
	        cheques=@invoice.chequedata.split(",")
	        cheques.each do |cheque| %>
					<td><%= cheque%></td>				
					<%end%>
			  </tr>
				<tr>
					<td></td>				
			  <% end %>
				</tr>
			</table>
    </td>
  </tr>
</table>

  <td><%= link_to("Cheque Collection","event/new?parent_class=Invoice&parent_id=" + @invoice.id.to_s + "&type=ChequeCollect") %></td>
          <td><%= link_to("Cash Collection","event/new?parent_class=Invoice&parent_id=" + @invoice.id.to_s + "&type=CashCollect") %></td>
          <td><%= link_to("Bank Expense","event/new?parent_class=Invoice&parent_id=" + @invoice.id.to_s + "&type=BankExp") %></td>
          <td><%= link_to("Cancel","invoice/cancel?id=" + @invoice.id.to_s) %></td>
          <td><%= link_to("Cash sale","invoice/adjustsaletype?id=" + @invoice.id.to_s + "&type=Cash") if(@invoice.saletype!="Cash") %></td>
          <td><%= link_to("Cheque sale","invoice/adjustsaletype?id=" + @invoice.id.to_s + "&type=Cheque") if(@invoice.saletype!="Cheque")%></td>
          <td><%= link_to("Account sale","invoice/adjustsaletype?id=" + @invoice.id.to_s + "&type=Account") if(@invoice.saletype!="Credit")%></td>
<br>
          <td><%= link_to("View Details","invoice/view?id=" + @invoice.id.to_s) %></td>
          <td><%= link_to("View Events","invoice/events?id=" + @invoice.id.to_s) %></td>
          <td><%= link_to("View Accounting","invoice/accounting?id=" + @invoice.id.to_s) %></td>
            
        <td><%=link_to("Hide ","invoice/hide?id=" + @invoice.id.to_s)if(@invoice.hidden==0)  %></td>
        <td><%= link_to("Unhide ","invoice/unhide?id=" + @invoice.id.to_s) if(@invoice.hidden==1)%></td>

<br>
<br>
<% #echo link_to("Add Detail","invoicedetail/new?invoice_id=" + @invoice.id) %>


<%= form_for(@invoice_detail) do |f| %>
  <% if @invoice_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice_detail.errors.count, "error") %> prohibited this invoice_detail from being saved:</h2>

      <ul>
      <% @invoice_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




    <%= f.hidden_field :invoice_id %>
<table>
	<tr>
		<td>Product</td>
		<td>Description</td>
		<td>Price</td>
		<td>Qty</td>
		<td>Discrate</td>
		<td>Discamt</td>
	</tr>
	<tr>
		<td><%= f.collection_select :product_id, Product.all, :id, :name %></td>
		<td><%= f.text_field :description %></td>
		<td><%= f.number_field :price, size:15 %></td>
		<td><%= f.number_field :qty, size:15 %></td>
		<td><%= f.number_field :discrate, size:15 %></td>
		<td><%= f.number_field :discamt, size:15 %></td>
	</tr>
	<tr>
	  <td colspan=3>Barcode:  <%= f.text_field :barcode, size:15 %></td>
	</tr>
</table>
    <%= f.submit %>

<% end %>

<br>

<input type=button value=Refresh onclick='viewinvoiceitemtable' >
<div id=invoiceitemtable>
<table border=1>
  <tr>
    <td>Barcode</td>
    <td>Product</td>
    <td>Description</td>
    <td>Qty</td>
    <td>Unit Price</td>
    <td>Total</td>
  </tr>
  <% @invoice.details.each do |detail|%>
  <tr>
    <td><%= detail.barcode %></td>
    <td><%= link_to(detail.product.name,product_path(detail.product_id)) %></td>
    <td><%= detail.description %></td>
    <td><%= detail.qty %></td>
    <td><%= detail.price %></td>
    <td><%= detail.total %></td>
    <td><%= link_to("Price List",product_type_path(detail.product.producttype) )if detail.product %></td>
    <td><%= link_to("Edit",edit_invoice_detail_path(detail)) %></td>
    <td>
<%= link_to( 'Delete', invoice_detail_path(detail), method: 'delete', 'confirm' => 'Are you sure?') %>

    </td>
    <td><%= link_to("Edit Product","product/edit?id=" + detail.product_id.to_s) %></td>
  </tr>
  <% end %>
</table>
</div>
<script type="text/javascript">
function changeText(id)
{
var x=document.elementById("mySelect");
x.value=id;
}
</script>
<!--
x.selectedIndex=id;
-->

