<h1>Listing purchase_templats</h1>

<table>
  <tr>
    <th>Rails</th>
    <th>G</th>
    <th>Scaffold</th>
    <th>Ps</th>
    <th>G</th>
    <th>Scaffold</th>
    <th>Quotes</th>
    <th>Date</th>
    <th>Vendor</th>
    <th>Product</th>
    <th>Price</th>
    <th>Discrate</th>
    <th>Discamt</th>
    <th>Ref class</th>
    <th>Ref</th>
    <th>Total</th>
    <th>Mine</th>
    <th>Is cancelled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchase_templats.each do |purchase_templat| %>
  <tr>
    <td><%= purchase_templat.Rails %></td>
    <td><%= purchase_templat.g %></td>
    <td><%= purchase_templat.scaffold %></td>
    <td><%= purchase_templat.Ps %></td>
    <td><%= purchase_templat.g %></td>
    <td><%= purchase_templat.scaffold %></td>
    <td><%= purchase_templat.Quotes %></td>
    <td><%= purchase_templat.date %></td>
    <td><%= purchase_templat.vendor_id %></td>
    <td><%= purchase_templat.product_id %></td>
    <td><%= purchase_templat.price %></td>
    <td><%= purchase_templat.discrate %></td>
    <td><%= purchase_templat.discamt %></td>
    <td><%= purchase_templat.ref_class %></td>
    <td><%= purchase_templat.ref_id %></td>
    <td><%= purchase_templat.total %></td>
    <td><%= purchase_templat.mine %></td>
    <td><%= purchase_templat.is_cancelled %></td>
    <td><%= link_to 'Show', purchase_templat %></td>
    <td><%= link_to 'Edit', edit_purchase_templat_path(purchase_templat) %></td>
    <td><%= link_to 'Destroy', purchase_templat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase templat', new_purchase_templat_path %>
