<p id="notice"><%= notice %></p>

<p>
  <b>Rails:</b>
  <%= @purchase_templat.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @purchase_templat.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @purchase_templat.scaffold %>
</p>

<p>
  <b>Ps:</b>
  <%= @purchase_templat.Ps %>
</p>

<p>
  <b>G:</b>
  <%= @purchase_templat.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @purchase_templat.scaffold %>
</p>

<p>
  <b>Quotes:</b>
  <%= @purchase_templat.Quotes %>
</p>

<p>
  <b>Date:</b>
  <%= @purchase_templat.date %>
</p>

<p>
  <b>Vendor:</b>
  <%= @purchase_templat.vendor_id %>
</p>

<p>
  <b>Product:</b>
  <%= @purchase_templat.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @purchase_templat.price %>
</p>

<p>
  <b>Discrate:</b>
  <%= @purchase_templat.discrate %>
</p>

<p>
  <b>Discamt:</b>
  <%= @purchase_templat.discamt %>
</p>

<p>
  <b>Ref class:</b>
  <%= @purchase_templat.ref_class %>
</p>

<p>
  <b>Ref:</b>
  <%= @purchase_templat.ref_id %>
</p>

<p>
  <b>Total:</b>
  <%= @purchase_templat.total %>
</p>

<p>
  <b>Mine:</b>
  <%= @purchase_templat.mine %>
</p>

<p>
  <b>Is cancelled:</b>
  <%= @purchase_templat.is_cancelled %>
</p>


<%= link_to 'Edit', edit_purchase_templat_path(@purchase_templat) %> |
<%= link_to 'Back', purchase_templats_path %>
