<p id="notice"><%= notice %></p>

<p>
  <b>Pono:</b>
  <%= @purchase.pono %>
</p>

<p>
  <b>Invno:</b>
  <%= @purchase.invno %>
</p>

<p>
  <b>Total:</b>
  <%= @purchase.total %>
</p>

<p>
  <b>Tax:</b>
  <%= @purchase.tax %>
</p>

<p>
  <b>Vendor:</b>
  <%= @purchase.vendor_id %>
</p>

<p>
  <b>Vendor name:</b>
  <%= @purchase.vendor_name %>
</p>

<p>
  <b>Terms:</b>
  <%= @purchase.terms_id %>
</p>

<p>
  <b>Employee:</b>
  <%= @purchase.employee_id %>
</p>

<p>
  <b>Template:</b>
  <%= @purchase.template_id %>
</p>

<p>
  <b>Date:</b>
  <%= @purchase.date %>
</p>

<p>
  <b>Datereceived:</b>
  <%= @purchase.datereceived %>
</p>

<p>
  <b>Duedate:</b>
  <%= @purchase.duedate %>
</p>

<p>
  <b>Vendor invoice:</b>
  <%= @purchase.vendor_invoice %>
</p>

<p>
  <b>Discrate:</b>
  <%= @purchase.discrate %>
</p>

<p>
  <b>Discamt:</b>
  <%= @purchase.discamt %>
</p>

<p>
  <b>Status:</b>
  <%= @purchase.status %>
</p>

<p>
  <b>Type:</b>
  <%= @purchase.type %>
</p>

<p>
  <b>Cash:</b>
  <%= @purchase.cash %>
</p>

<p>
  <b>Cheque:</b>
  <%= @purchase.cheque %>
</p>

<p>
  <b>Credit:</b>
  <%= @purchase.credit %>
</p>

<p>
  <b>Chequeno:</b>
  <%= @purchase.chequeno %>
</p>

<p>
  <b>Chequedate:</b>
  <%= @purchase.chequedate %>
</p>

<p>
  <b>Balance:</b>
  <%= @purchase.balance %>
</p>

<p>
  <b>Chequedata:</b>
  <%= @purchase.chequedata %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
