<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @event.type %>
</p>

<p>
  <b>Parent class:</b>
  <%= @event.parent_class %>
</p>

<p>
  <b>Parent:</b>
  <%= @event.parent_id %>
</p>

<p>
  <b>Parent name:</b>
  <%= @event.parent_name %>
</p>

<p>
  <b>Child class:</b>
  <%= @event.child_class %>
</p>

<p>
  <b>Children:</b>
  <%= @event.children_id %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Amount:</b>
  <%= @event.amount %>
</p>

<p>
  <b>D:</b>
  <%= @event.d %>
</p>

<p>
  <b>Rails:</b>
  <%= @event.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @event.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @event.scaffold %>
</p>

<p>
  <b>Events:</b>
  <%= @event.Events %>
</p>

<p>
  <b>Type:</b>
  <%= @event.type %>
</p>

<p>
  <b>Ping:</b>
  <%= @event.ping %>
</p>

<p>
  <b>Is cancelled:</b>
  <%= @event.is_cancelled %>
</p>

<p>
  <b>Checkcleardate:</b>
  <%= @event.checkcleardate %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
