<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :tin_no %><br />
    <%= f.text_field :tin_no %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :phone1 %><br />
    <%= f.text_field :phone1 %>
  </div>
  <div class="field">
    <%= f.label :phone2 %><br />
    <%= f.text_field :phone2 %>
  </div>
  <div class="field">
    <%= f.label :faxnum %><br />
    <%= f.text_field :faxnum %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :rep %><br />
    <%= f.text_field :rep %>
  </div>
  <div class="field">
    <%= f.label :repno %><br />
    <%= f.text_field :repno %>
  </div>
  <div class="field">
    <%= f.label :rep2 %><br />
    <%= f.text_field :rep2 %>
  </div>
  <div class="field">
    <%= f.label :rep2no %><br />
    <%= f.text_field :rep2no %>
  </div>
  <div class="field">
    <%= f.label :taxitem %><br />
    <%= f.text_field :taxitem %>
  </div>
  <div class="field">
    <%= f.label :notepad %><br />
    <%= f.text_field :notepad %>
  </div>
  <div class="field">
    <%= f.label :salutation %><br />
    <%= f.text_field :salutation %>
  </div>
  <div class="field">
    <%= f.label :is_suki %><br />
    <%= f.check_box :is_suki %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
