<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>Tin no:</b>
  <%= @customer.tin_no %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Phone1:</b>
  <%= @customer.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @customer.phone2 %>
</p>

<p>
  <b>Faxnum:</b>
  <%= @customer.faxnum %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Note:</b>
  <%= @customer.note %>
</p>

<p>
  <b>Rep:</b>
  <%= @customer.rep %>
</p>

<p>
  <b>Repno:</b>
  <%= @customer.repno %>
</p>

<p>
  <b>Rep2:</b>
  <%= @customer.rep2 %>
</p>

<p>
  <b>Rep2no:</b>
  <%= @customer.rep2no %>
</p>

<p>
  <b>Taxitem:</b>
  <%= @customer.taxitem %>
</p>

<p>
  <b>Notepad:</b>
  <%= @customer.notepad %>
</p>

<p>
  <b>Salutation:</b>
  <%= @customer.salutation %>
</p>

<p>
  <b>Is suki:</b>
  <%= @customer.is_suki %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
