<%= form_for(@product_category) do |f| %>
  <% if @product_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product_category.errors.count, "error") %> prohibited this product_category from being saved:</h2>

      <ul>
      <% @product_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pro %><br />
    <%= f.text_field :pro %>
  </div>
  <div class="field">
    <%= f.label :Rails %><br />
    <%= f.text_field :Rails %>
  </div>
  <div class="field">
    <%= f.label :g %><br />
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :scaffold %><br />
    <%= f.text_field :scaffold %>
  </div>
  <div class="field">
    <%= f.label :Produils %><br />
    <%= f.text_field :Produils %>
  </div>
  <div class="field">
    <%= f.label :g %><br />
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :scaffold %><br />
    <%= f.text_field :scaffold %>
  </div>
  <div class="field">
    <%= f.label :ProductTypes %><br />
    <%= f.text_field :ProductTypes %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :pri %><br />
    <%= f.text_field :pri %>
  </div>
  <div class="field">
    <%= f.label :Rails %><br />
    <%= f.text_field :Rails %>
  </div>
  <div class="field">
    <%= f.label :g %><br />
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :scaffold %><br />
    <%= f.text_field :scaffold %>
  </div>
  <div class="field">
    <%= f.label :Pro %><br />
    <%= f.text_field :Pro %>
  </div>
  <div class="field">
    <%= f.label :category2 %><br />
    <%= f.text_field :category2 %>
  </div>
  <div class="field">
    <%= f.label :Rails %><br />
    <%= f.text_field :Rails %>
  </div>
  <div class="field">
    <%= f.label :g %><br />
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :scaffold %><br />
    <%= f.text_field :scaffold %>
  </div>
  <div class="field">
    <%= f.label :category4 %><br />
    <%= f.text_field :category4 %>
  </div>
  <div class="field">
    <%= f.label :ca %><br />
    <%= f.text_field :ca %>
  </div>
  <div class="field">
    <%= f.label :Rails %><br />
    <%= f.text_field :Rails %>
  </div>
  <div class="field">
    <%= f.label :g %><br />
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :scaffold %><br />
    <%= f.text_field :scaffold %>
  </div>
  <div class="field">
    <%= f.label :ory6 %><br />
    <%= f.text_field :ory6 %>
  </div>
  <div class="field">
    <%= f.label :category7 %><br />
    <%= f.text_field :category7 %>
  </div>
  <div class="field">
    <%= f.label :category8 %><br />
    <%= f.text_field :category8 %>
  </div>
  <div class="field">
    <%= f.label :category9 %><br />
    <%= f.text_field :category9 %>
  </div>
  <div class="field">
    <%= f.label :Rails %><br />
    <%= f.text_field :Rails %>
  </div>
  <div class="field">
    <%= f.label :g %><br />
    <%= f.text_field :g %>
  </div>
  <div class="field">
    <%= f.label :scaffoldpath_ids %><br />
    <%= f.text_field :scaffoldpath_ids %>
  </div>
  <div class="field">
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
