<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product_category.name %>
</p>

<p>
  <b>Pro:</b>
  <%= @product_category.pro %>
</p>

<p>
  <b>Rails:</b>
  <%= @product_category.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @product_category.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @product_category.scaffold %>
</p>

<p>
  <b>Produils:</b>
  <%= @product_category.Produils %>
</p>

<p>
  <b>G:</b>
  <%= @product_category.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @product_category.scaffold %>
</p>

<p>
  <b>Producttypes:</b>
  <%= @product_category.ProductTypes %>
</p>

<p>
  <b>Name:</b>
  <%= @product_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product_category.description %>
</p>

<p>
  <b>Parent:</b>
  <%= @product_category.parent_id %>
</p>

<p>
  <b>Pri:</b>
  <%= @product_category.pri %>
</p>

<p>
  <b>Rails:</b>
  <%= @product_category.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @product_category.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @product_category.scaffold %>
</p>

<p>
  <b>Pro:</b>
  <%= @product_category.Pro %>
</p>

<p>
  <b>Category2:</b>
  <%= @product_category.category2 %>
</p>

<p>
  <b>Rails:</b>
  <%= @product_category.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @product_category.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @product_category.scaffold %>
</p>

<p>
  <b>Category4:</b>
  <%= @product_category.category4 %>
</p>

<p>
  <b>Ca:</b>
  <%= @product_category.ca %>
</p>

<p>
  <b>Rails:</b>
  <%= @product_category.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @product_category.g %>
</p>

<p>
  <b>Scaffold:</b>
  <%= @product_category.scaffold %>
</p>

<p>
  <b>Ory6:</b>
  <%= @product_category.ory6 %>
</p>

<p>
  <b>Category7:</b>
  <%= @product_category.category7 %>
</p>

<p>
  <b>Category8:</b>
  <%= @product_category.category8 %>
</p>

<p>
  <b>Category9:</b>
  <%= @product_category.category9 %>
</p>

<p>
  <b>Rails:</b>
  <%= @product_category.Rails %>
</p>

<p>
  <b>G:</b>
  <%= @product_category.g %>
</p>

<p>
  <b>Scaffoldpath ids:</b>
  <%= @product_category.scaffoldpath_ids %>
</p>

<p>
  <b>Path:</b>
  <%= @product_category.path %>
</p>


<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
