<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Addr1:</b>
  <%= @vendor.addr1 %>
</p>

<p>
  <b>Addr2:</b>
  <%= @vendor.addr2 %>
</p>

<p>
  <b>Addr3:</b>
  <%= @vendor.addr3 %>
</p>

<p>
  <b>Vtype:</b>
  <%= @vendor.vtype %>
</p>

<p>
  <b>Cont1:</b>
  <%= @vendor.cont1 %>
</p>

<p>
  <b>Cont2:</b>
  <%= @vendor.cont2 %>
</p>

<p>
  <b>Phone1:</b>
  <%= @vendor.phone1 %>
</p>

<p>
  <b>Phone2:</b>
  <%= @vendor.phone2 %>
</p>

<p>
  <b>Faxnum:</b>
  <%= @vendor.faxnum %>
</p>

<p>
  <b>Email:</b>
  <%= @vendor.email %>
</p>

<p>
  <b>Taxid:</b>
  <%= @vendor.taxid %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
