<%= form_for(@stock_entry) do |f| %>
  <% if @stock_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stock_entry.errors.count, "error") %> prohibited this stock_entry from being saved:</h2>

      <ul>
      <% @stock_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </div>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :stock_id %><br />
    <%= f.number_field :stock_id %>
  </div>
  <div class="field">
    <%= f.label :ref_class %><br />
    <%= f.text_field :ref_class %>
  </div>
  <div class="field">
    <%= f.label :ref_id %><br />
    <%= f.number_field :ref_id %>
  </div>
  <div class="field">
    <%= f.label :is_cancelled %><br />
    <%= f.check_box :is_cancelled %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
