<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @stock_entry.date %>
</p>

<p>
  <b>Qty:</b>
  <%= @stock_entry.qty %>
</p>

<p>
  <b>Balance:</b>
  <%= @stock_entry.balance %>
</p>

<p>
  <b>Stock:</b>
  <%= @stock_entry.stock_id %>
</p>

<p>
  <b>Ref class:</b>
  <%= @stock_entry.ref_class %>
</p>

<p>
  <b>Ref:</b>
  <%= @stock_entry.ref_id %>
</p>

<p>
  <b>Is cancelled:</b>
  <%= @stock_entry.is_cancelled %>
</p>

<p>
  <b>Priority:</b>
  <%= @stock_entry.priority %>
</p>

<p>
  <b>Type:</b>
  <%= @stock_entry.type %>
</p>

<p>
  <b>Description:</b>
  <%= @stock_entry.description %>
</p>


<%= link_to 'Edit', edit_stock_entry_path(@stock_entry) %> |
<%= link_to 'Back', stock_entries_path %>
