<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @product.brand_id %>
</p>

<p>
  <b>Producttype:</b>
  <%= @product.producttype_id %>
</p>

<p>
  <b>Qty:</b>
  <%= @product.qty %>
</p>

<p>
  <b>Category1:</b>
  <%= @product.category1 %>
</p>

<p>
  <b>Category2:</b>
  <%= @product.category2 %>
</p>

<p>
  <b>Category3:</b>
  <%= @product.category3 %>
</p>

<p>
  <b>Category4:</b>
  <%= @product.category4 %>
</p>

<p>
  <b>Category5:</b>
  <%= @product.category5 %>
</p>

<p>
  <b>Category6:</b>
  <%= @product.category6 %>
</p>

<p>
  <b>Category7:</b>
  <%= @product.category7 %>
</p>

<p>
  <b>Category8:</b>
  <%= @product.category8 %>
</p>

<p>
  <b>Category9:</b>
  <%= @product.category9 %>
</p>

<p>
  <b>Category10:</b>
  <%= @product.category10 %>
</p>

<p>
  <b>Publish:</b>
  <%= @product.publish %>
</p>

<p>
  <b>Monitored:</b>
  <%= @product.monitored %>
</p>

<p>
  <b>Barcode:</b>
  <%= @product.barcode %>
</p>

<p>
  <b>Is service:</b>
  <%= @product.is_service %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
